<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="{{ '/' | relative_url }}" class="navbar-link{% if page.url == '/' %} active{% endif %}">Home</a>
    </li>
    <li class="navbar-item">
      <a href="{{ '/' | relative_url }}#posts" class="navbar-link">Blog</a>
    </li>
    <li class="navbar-item">
      <a href="{{ '/about/' | relative_url }}" class="navbar-link{% if page.url contains '/about' %} active{% endif %}">About</a>
    </li>
    <li class="navbar-item">
      <a href="{{ '/feed.xml' | relative_url }}" class="navbar-link">RSS</a>
    </li>
    <li class="navbar-item">
      <a href="https://github.com/{{ site.github_username }}" class="navbar-link" target="_blank" rel="noopener">GitHub</a>
    </li>
  </ul>
</nav>
